@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$white: #fff;
$light-gray: #E5E5E5;
$gray: #7E7E7E;
$dark-gray: #545454;
$light-blue: #B7D3D9;
$blue: #8FADB6;
$light-rose: #FADFD6;
$rose: #FAC2B3;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Poppins', sans-serif;;

@import "./reset.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $dark-gray;
}

a {
  text-decoration: none;
}

.btn {
  background-color: $gray;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $blue;
  }
}

a, button {
  color: $white;
  font-family: $primary-font;
}

h1, h2, h3, label {
  padding: 5px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $primary-font;
}

p {
  color: $white;
  font-family: $secondary-font;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  padding: 15px 30px;
  margin: 30px auto;
  background-color: $gray;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  font-size: 14px;
  color: $white;
  font-family: $secondary-font;
}

input {
  background-color: $gray;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

output {
  font-family: $primary-font;
  &[name="error"]{
  color: #ff4141;
  }
  &[name="success"]{
    color: #41ff6a;
  }
}

.emoji {
  .very-happy {
    &:hover {
      background: $blue;
    }
  }
  .happy {
    &:hover {
      background: $light-blue;
    }
  }
  .normal {
    &:hover {
      background: $gray;
    }
  }
  .sad {
    &:hover {
      background: $light-rose;
    }
  }
  .very-sad {
    &:hover {
      background: $rose;
    }
  }
}